.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to right, #16222a, #3a6073);
}

.joinInnerContainer {
    min-width: 300px;
    width: 20%;
}

.joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    border: none;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.h6 {
    font-size: 1em;
}

.button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    font-family: 'Baloo 2', cursive;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.error {
    color: #86181d;
    background-color: #ffdce0;
}
.checkboxes {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
}
@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }
}

button:focus {
    outline: 0;
}